<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fyp.srk.aiduneducateddeafdumb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MarksSection.MarksDashboard"></activity>
        <activity android:name=".EmotionsAndFeelingsSigns.EmotionsAndFeelingsSignActivity" />
        <activity
            android:name=".ColorsSigns.ColorsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />
        <activity
            android:name=".DaysNames.DaysSigns"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />
        <activity
            android:name=".TimeSigns.TimeSignActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />
        <activity
            android:name=".Greetings.GreetingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />
        <activity
            android:name=".FamilyMembers.FamilyMembersActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />
        <activity
            android:name=".CountingNumbers.CountingNumbers"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />
        <activity
            android:name=".EnglishAlphabets.EnglishAlphabetsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>